.footer {
  padding: 40px 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #211f20;
}

.footer__contacts {
  max-width: 279px;
}

.footer__location {
  max-width: 302px;
}

.footer__title {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 40px 0 0;
  display: flex;
}

.footer__icon {
  margin-right: 20px;
}

/* .footer__copyrighte {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin
} */

@media screen and (max-width: 1090px) {
  .footer {
    padding: 30px 64px 0;
    justify-content: center;
  }

  .footer__contacts {
    max-width: 279px;
    margin-right: 59px;
  }

  .footer__image {
    margin-top: 69px;
  }
}

@media screen and (max-width: 777px) {
  .footer {
    padding: 30px 10px 0;
  }

  .footer__title {
    text-align: center;
  }

  .footer__contacts {
    margin: 0 auto;
  }

  .footer__location {
    margin: 40px auto 0;
  }
}
