.pages {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f0cfb8;
}

.header {
  margin: 0;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 90px 40px;
  background-color: #211f20;
}

.header__titile {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: #f1cdb3;
  margin: 0;
}

.header__subtitile {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  color: #fff;
  margin: 0;
  margin-top: 10px;
}

.header__navigation-button {
  background-image: url(../images/Burger.svg);
  width: 30px;
  height: 24px;
  background-color: inherit;
  display: none;
}

.header__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__navigation-item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #fafafa;
  margin-right: 35px;
}

.header__navigation-item:last-child {
  margin-right: 0;
}

.header__navigation-item:first-child {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f1cdb3;
}

@media screen and (max-width: 700px) {
  .header__navigation {
    display: none;
  }
  .header__navigation-button {
    display: block;
  }
  .header {
    padding-bottom: 60px;
  }
}
