.help {
  padding: 80px 40px 100px;
}

.help__title {
  width: 308px;
  margin: 0 auto 60px;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help__element {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 55px;
  justify-content: center;
  align-items: center;
}

.help__element-icon {
  margin: 0 auto;
}

.help__element-description {
  margin: 30px 0 0;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

@media screen and (max-width: 1000px) {
  .help {
    padding: 80px 69px 100px;
  }

  .help__element {
    width: 180px;
  }
}

@media screen and (max-width: 450px) {
  .help__title {
    width: 220px;
    margin: 42px auto 42px;

    font-size: 25px;
  }

  .help {
    padding: 0;
  }

  .help__element {
    width: 160px;
  }
  .help__container {
    justify-content: start;
  }
}
