@keyframes move-left {
  form {
    left: -1080px;
  }
  to {
    left: 0;
  }
}

@keyframes move-right {
  form {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

.animation-move-left {
  animation: move-left 1s;
}

.animation-move-right {
  animation: move-right 1s;
}

.pets {
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f6f6f6;
}

.pets__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  margin: 80px auto 60px;
}

.pets__button {
  cursor: pointer;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: block;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  margin: 60px auto 100px;
  border: 2px solid #f1cdb3;
}

.slider {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
}

.slider__button-left {
  cursor: pointer;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  background-image: url(.././images/ArroL.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin: 0 53px 0 0;
}
.slider__button-right {
  cursor: pointer;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  background-image: url(.././images/ArrowR.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin: 0 0 0 53px;
}

.courusel__wrapper {
  overflow: hidden;
  display: flex;
  width: 990px;
}

.courusel {
  display: flex;
  position: relative;
  left: -1080px;
}

.slider__cards-grid-area {
  width: 990px;
  list-style: none;
  margin: 0;
  margin-right: 90px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 270px));
  column-gap: 90px;
}

.card {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 9px;
}

.card__title {
  margin: 30px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__button {
  cursor: pointer;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;

  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1279px) {
  @keyframes move-right {
    form {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }

  .pets {
    padding: 80px 30px 100px;
  }

  .courusel__wrapper {
    width: 580px;
  }

  .courusel {
    left: -620px;
  }

  .slider__cards-grid-area {
    column-gap: 40px;
    width: 580px;
    margin-right: 40px;
  }

  .card:nth-last-child(3) {
    display: none;
  }

  .slider__button-left {
    margin: 0 12px 0 0;
  }
  .slider__button-right {
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 767px) {
  @keyframes move-right {
    form {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }
  .card:nth-last-child(2) {
    display: none;
  }

  .courusel__wrapper {
    width: 270px;
    margin: 0 6%;
  }

  .courusel {
    left: -270px;
  }
  .slider {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pets {
    padding: 42px 10px;
  }
  .slider__cards-grid-area {
    width: 270px;
    margin-right: 0;
  }

  .pets__title {
    font-size: 25px;
    line-height: 130%;
    width: 300px;
  }

  .slider__button-left {
    margin: 20px 80px 0 0;
    order: 1;
  }
  .slider__button-right {
    margin: 20px 0 0 0;
    order: 1;
  }
}
